// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-body__time {
    text-align: center;
    margin: 3.2rem 0 8rem;
    .main-time {
        font-size: 48px;
    }
}

.card-body__btns {
    display: flex;
    justify-content: space-evenly;
    margin: 3.2rem 0;
    .btn {
        width: 32%;
        padding: 24px 0;
    }
}

.card-body__time {
    .label-item {
        font-size: 24px;
        label {
            margin: 0 16px 0 0;
        }
    }
}